<style>
    table.GeneratedTable {
      width: 100%;
      background-color: #ffcad4;
      border-collapse: collapse;
      border-width: 2rem;
      border-color: #f4acb7;
      border-style: solid;
      color: #000000;
    }
    
    table.GeneratedTable td, table.GeneratedTable th {
      border-width: 2rem;
      border-color: #f4acb7;
      border-style: solid;
      padding: 3px;
    }
    
    table.GeneratedTable thead {
      background-color: #9d8189;
    }
    </style>

<h1>Herzlich Willkommen</h1>
<h1>{{user.name}}</h1>
<p>Hier siehst Du deine persönliche Übersicht</p>

    <table class="GeneratedTable">
      <thead>
        <tr>
          <th><font color = white>Du</font></th>
          <th><font color = white>Peergroup</font></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
        <tr>
          <td>Cell</td>
          <td>Cell</td>
        </tr>
      </tbody>
    </table>