

<div class="all">
<h1>Hallo Peter!</h1>
  Finanzeintrag anlegen:
  <mat-form-field appearance="fill" class="formfields">
    <mat-label>Typ</mat-label>
    <mat-select>
      <mat-option *ngFor="let budget of budgets" [value]="budget.value">
        {{budget.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="formfields">
    <mat-label>Betrag in €</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field appearance="fill" class="formfield">
    <mat-label>Kommentar</mat-label>
    <input matInput placeholder="Kommentar...">
  </mat-form-field>
  <div class="button">
    <button mat-button-color (click)="neuesBild = true">Bestätigen</button>
  </div>


  <img *ngIf="!neuesBild" src="./assets/plot1.png" style="width: 100%">

  <img *ngIf="neuesBild"src="./assets/plot2.png" style="width: 100%">
</div>

