<p>finance works!</p>
<button (click)="loadBetraege()">Lade Daten</button>


<table mat-table [dataSource]="betraege" style="height: 30%">
  <!-- Position Column -->
  <ng-container matColumnDef="betrag">
    <th mat-header-cell *matHeaderCellDef> Betrag </th>
    <td mat-cell *matCellDef="let element"> {{element.betrag}} </td>
  </ng-container>

  <ng-container matColumnDef="beschreibung">
    <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
    <td mat-cell *matCellDef="let element"> {{element.beschreibung}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayBetraege"></tr>
  <tr mat-row *matRowDef="let row; columns: displayBetraege;"></tr>
</table>


